# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Sensitive files
key.json
*.tfvars
*.tfvars.json

# Lock file (опционально)
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json