name:  CI 

on:
  push:
    branches:
      - master
      - lab03
    paths:
      - 'app_python/**'
      - '.github/workflows/python-ci.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'app_python/**'
      - '.github/workflows/python-ci.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install -r app_python/requirements.txt
          pip install -r app_python/requirements-dev.txt

      - name: Run linter
        run: |
          cd app_python
          flake8 app.py

      - name: Run tests
        run: |
          cd app_python
          pytest -v
      
      - name: Install Snyk CLI
        run: |
          npm install -g snyk

      - name: Authenticate Snyk
        run: |
          snyk auth ${{ secrets.SYNK_TOKEN }}

      - name: Run Snyk security scan
        run: |
          cd app_python
          snyk test --severity-threshold=high




  docker:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate version
        run: echo "VERSION=$(date +%Y.%m)" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: app_python
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:${{ env.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:latest
